* {
    margin: 0;
    padding: 0;
}

.w3-row-padding {
    padding: 0 8px;
}

.w3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.w3-col {
    float: left;
    width: 100%;
}

@media (min-width: 601px) {

    .w3-col.m6 {
        width: 49.99999%;
    }
}

.w3-row-padding>.w3-col {
    padding: 0 8px;
}